# Database Configuration
POSTGRES_DB=PintAndPillage
POSTGRES_USER=
POSTGRES_PASSWORD=

# Backend Configuration
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_USERNAME=
JWT_SECRET=

# Image Configuration
IMAGE_BACKEND=
IMAGE_FRONTEND=
