/* General Waybar styling */
#waybar {
    background-color: transparent;
    font-family: sans-serif;
}

/* Module specific styling */
#workspaces, #mode, #window, #scratchpad, #idle_inhibitor,
#network, #cpu, #memory, #temperature, #backlight, #battery,
#clock, #pulseaudio, #keyboard-state, #language, #tray, #media {
    background-color: rgba(0, 0, 0, 0.70);
    color: #C0CAF5; 
    padding: 0 10px;
    border-radius: 4px;
}

/* Workspace styling */
#workspaces button {
    background-color: rgba(0, 0, 0, 0.70);
    color: #C0CAF5; 
}

#workspaces button:hover {
    background-color: rgba(0, 204, 122, 0.70);
    color: #1A1B26; 
}

#workspaces button.focused {
    background-color: rgba(0, 204, 122, 0.70);
    color: #1A1B26; 
}

#workspaces button.urgent {
    background-color: rgba(255, 84, 84, 0.70);
    color: #1A1B26; 
}

/* CPU, Memory, and Temperature */
#cpu, #memory, #temperature {
    color: #E0AF68; 
}

/* Network Module Styling */
#network {
    color: #7AA2F7; 
}

/* Pulseaudio Volume */
#pulseaudio {
    color: #73DACA;
}

.battery-good {
    color: #9ECE6A; 
}

.battery-warning {
    color: #E0AF68; 
}

.battery-critical {
    color: #F7768E; 
}

/* Clock Styling */
#clock {
    color: #C0CAF5; 
}

/* Customizing icons based on the module */
.icon {
    font-family: 'Font Awesome 5 Free';
}
