
~/Notes/Studies/IN2/IPSENH/oplevering/onderzoek/her/src > jmeter -n -t test_plan.jmx -l traefik_results.jtl                                              λ:main  [    ]
WARN StatusConsoleListener The use of package scanning to locate plugins is deprecated and will be removed in a future release
WARN StatusConsoleListener The use of package scanning to locate plugins is deprecated and will be removed in a future release
WARN StatusConsoleListener The use of package scanning to locate plugins is deprecated and will be removed in a future release
WARN StatusConsoleListener The use of package scanning to locate plugins is deprecated and will be removed in a future release
Creating summariser <summary>
Created the tree successfully using test_plan.jmx
Starting standalone test @ 2024 Jun 5 22:46:01 CEST (1717620361859)
Waiting for possible Shutdown/StopTestNow/HeapDump/ThreadDump message on port 4445
summary +      1 in 00:00:00 =    3.6/s Avg:   185 Min:   185 Max:   185 Err:     0 (0.00%) Active: 26 Started: 26 Finished: 0
summary +     99 in 00:00:01 =  109.3/s Avg:   178 Min:   155 Max:   322 Err:     0 (0.00%) Active: 0 Started: 100 Finished: 100
summary =    100 in 00:00:01 =   84.7/s Avg:   178 Min:   155 Max:   322 Err:     0 (0.00%)
Tidying up ...    @ 2024 Jun 5 22:46:03 CEST (1717620363089)
... end of run

~/Notes/Studies/IN2/IPSENH/oplevering/onderzoek/her/src > jmeter -n -t test_plan.jmx -l nginx_results.jtl                                                λ:main  [    ]

WARN StatusConsoleListener The use of package scanning to locate plugins is deprecated and will be removed in a future release
WARN StatusConsoleListener The use of package scanning to locate plugins is deprecated and will be removed in a future release
WARN StatusConsoleListener The use of package scanning to locate plugins is deprecated and will be removed in a future release
WARN StatusConsoleListener The use of package scanning to locate plugins is deprecated and will be removed in a future release
Creating summariser <summary>
Created the tree successfully using test_plan.jmx
Starting standalone test @ 2024 Jun 5 22:46:10 CEST (1717620370837)
Waiting for possible Shutdown/StopTestNow/HeapDump/ThreadDump message on port 4445
summary =    100 in 00:00:01 =   85.0/s Avg:   176 Min:   157 Max:   366 Err:     0 (0.00%)
Tidying up ...    @ 2024 Jun 5 22:46:12 CEST (1717620372060)
... end of run

~/Notes/Studies/IN2/IPSENH/oplevering/onderzoek/her/src > jmeter -n -t test_plan.jmx -l openresty_results.jtl                                            λ:main  [    ]

WARN StatusConsoleListener The use of package scanning to locate plugins is deprecated and will be removed in a future release
WARN StatusConsoleListener The use of package scanning to locate plugins is deprecated and will be removed in a future release
WARN StatusConsoleListener The use of package scanning to locate plugins is deprecated and will be removed in a future release
WARN StatusConsoleListener The use of package scanning to locate plugins is deprecated and will be removed in a future release
Creating summariser <summary>
Created the tree successfully using test_plan.jmx
Starting standalone test @ 2024 Jun 5 22:46:17 CEST (1717620377371)
Waiting for possible Shutdown/StopTestNow/HeapDump/ThreadDump message on port 4445
summary =    100 in 00:00:01 =   85.1/s Avg:   171 Min:   151 Max:   200 Err:     0 (0.00%)
Tidying up ...    @ 2024 Jun 5 22:46:18 CEST (1717620378594)
... end of run
